body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 23px;
  background: #3b4f5a;
  color: #fff;
}

input {
  background: #3b4f5a;
  border-radius: 5px;
  border: 2px solid #fff;
  padding: 8px;
  font-size: 20px;
}

input:focus,
button:focus {
  outline: none;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.vtop {
  vertical-align: top;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.lightgrey {
  background: #718087;
}

.darkgrey {
  background: #213037;
}

.grey {
  background: #3b4f5a;
}

.open {
  background: #5db956;
}

.closed {
  background: #f14e61;
}

.logo {
  background-image: url('./images/trailfinder-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 109px;
  width: 300px;
  margin: 10px auto 10px auto;
}

.back-button {
  background-image: url('./images/Back.png');
  background-size: contain;
  height: 55px;
  width: 50px;
  margin: 10px 20px 10px auto;
}

.details-button {
  background-image: url('./images/Details.png');
  height: 52px;
  width: 48px;
  float: right;
  margin: -5px 10px 0 0;
}

.update-button {
  background-image: url('./images/Update.png');
  background-size: contain;
  height: 52px;
  width: 48px;
}

.directions-button {
  background-image: url('./images/Directions.png');
  background-size: contain;
  height: 52px;
  width: 48px;
  float: left;
}

.search-box {
  margin: 15px 5%;
  width: 90%;
}

.trail-summary {
  border-bottom: 2px solid #fff;
}

.trail-summary .updates {
  margin-top: 5px;
}

.trail-header {
  font-size: 28px;
  color: white;
  background: #5db956;
  padding: 10px 10px 10px 20px;
}

.trail-image {
  float: left;
}

.trail-image img {
  height: 165px;
  width: 165px;
}

.trail-description {
  padding: 10px 10px 10px 175px;
  background: #718087;
  height: 165px;
  max-height: 165px;
}

.link-panel {
  background: #213037;
  text-align: center;
  /*height: 50px;*/
}

.update-link {
  margin-left: 5px;
  background: #3b4f5a;
  float: left;
}

.directions-link {
  margin-left: 5px;
  background: #3b4f5a;
}

.update {
  padding: 0;
  width: 100%;
  margin-bottom: 5px;
}

.marker-cell {
  width: 5px;
}

.update .status-cell {
  background: #213037;
  width: 160px;
  vertical-align: middle;
}

.update .comment-cell {
  background: #718087;
  vertical-align: top;
  padding: 5px 5px 5px 10px;
}

.update .marker {
  width: 5px;
  height: 10px;
  padding: 0;
  margin: 0;
}

.update .status {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  float: left;
  margin: 25px;
}

.update .comment {
  display: table;
}

.update .author {
  color: #5db956;
  font-size: 18px;
  font-weight: bold;  
  margin-top: 5px;
}

.add-update-wrapper {
  margin-top: 20px;
}
.add-update {
  padding: 15px 20px;
}

.add-update .comment {
  width: 100%;
}

.add-update p {
  font-weight: bold;
}

.add-update .button-bar {
  margin-top: 20px;
}

.add-update .submit {
  background: #f18a4f;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding: 16px 55px;
  border: none;
}

.detail-links {
  margin: 10px 0 20px 0;
}

.detail-links li {
  margin-left: 10px;
}

.likes-wrapper {
  margin-left: 10px;
  cursor: pointer;
}

.likes,
.likes a:hover {
  color: #fff;
  text-decoration: none;
  font-size: 29px;
}

.likes-count {
  font-size: 26px;
}

.likes-heart {
  background: url("http://f.cl.ly/items/3Y373q2Q3J3Y1j203n0m/Bitmap-3.png") center no-repeat;
  background-size: contain;
  font-size: 12px;
  padding: 1rem;
  position: absolute;
  color: #3b4f5a;
  left: 50%;
  top: 50%;
  pointer-events: none;
}

.likes-heart {
  opacity: 0;
  transition: all 0.6s;
  transform: translateX(-50%) translateY(-50%) scale(5);
  display: block;
}

.likes-heart.like-enter {
  transition: all 0.2s;
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
}

.likes-heart.like-enter.like-enter-active {
  transform: translateX(-50%) translateY(-50%) scale(5);
}

.likes-heart .like-leave-active {
  display: none;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  margin-bottom: 70px;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.footer {
  height: 50px;
  background-color: grey;
  color: white;
  padding: 10px;
}

.switch {
  position: relative;
  height: 60px;
  width: 215px;
  background: #283941;
  border-radius: 3px;
  float: left;
  padding-left: 5px;
  margin-right: 10px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 100px;
  line-height: 60px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked+.switch-label-on~.switch-selection {
  left: 100px;
  background: #f14e61;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 2px;
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  transition: left 0.15s ease-out;
  background: #5db956;
  margin-left: 7px;
}